.home-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-left: 1rem;
}

.card-container {
  width: 100%; /* this will make the cards to fit the width of the parent container */
}

@media (min-width: 768px) {
  .card-container {
    width: 30%;
  }
}